@page
@{
    ViewData["Title"] = "Access Denied";
}

<div class="error-page">
    <div>
        <div class="error-code">403</div>
        <div class="error-message">Access denied.</div>
        <div class="error-sub">
            You don’t have permission to access this page.
        </div>

        <a class="btn btn-primary px-4" asp-page="/Index">
            Go back home
        </a>
    </div>
</div>
