@page
@{
    ViewData["Title"] = "Server Error";
}

<div class="error-page">
    <div>
        <div class="error-code">500</div>
        <div class="error-message">Something went wrong.</div>
        <div class="error-sub">
            An unexpected error occurred. Please try again later.
        </div>

        <a class="btn btn-primary px-4" asp-page="/Index">
            Go back home
        </a>
    </div>
</div>
