@page
@model BookwormsOnline.Pages.ResetPasswordModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2>Reset Password</h2>

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input type="hidden" asp-for="Input.Email" />
    <input type="hidden" asp-for="Input.Token" />

    <div class="mb-2">
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" class="form-control" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>

    <div class="mb-2">
        <label asp-for="Input.ConfirmNewPassword"></label>
        <input asp-for="Input.ConfirmNewPassword" class="form-control" />
        <span asp-validation-for="Input.ConfirmNewPassword" class="text-danger"></span>
    </div>

    <button class="btn btn-primary" type="submit">Reset Password</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
